h1 {
    background-color: rgb(89, 85, 85);
    color: white;
    text-emphasis-color:  white;
    text-align: center;
    vertical-align: middle;
    padding: 10px;  
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}   
.menu {

    display: flex;

    justify-content: space-around; /* Distributes items evenly across the container */

    align-items: center; /* Vertically aligns items in the center */

    width: 100%; /* Make the menu span the full width of the page */

    padding: 10px; /* Add some padding for visual appeal */

}
Structure{
    display: flex;
    justify-content: space-around;
    align-items: left;
    width: 100%;
    padding: 10px;
}
para1 {
    display: flex;
    justify-content: space-around;
    align-items: right;
    width: 100%;
    padding: 10px;
}
p {

    text-align: center; color: black;
    
    }
    
    #para1 {
    
    text-align: center; color: black;
    
    }
    
    .center {
    
    text-align: center; color: black;
    
    }

body {
	background: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: black;
	text-align: center;
}
.about {
    background: black;
    font-style: italic;
}